
@media screen and (min-width:320px) {
  html{
    font-size: 320/3.75px/4;
  }
}
@media screen and (min-width:360px) {
  html{
    font-size: 360/3.75px/4;
  }
}
@media screen and (min-width:375px) {
  html{
    font-size: 375/3.75px/4;
  }
}
@media screen and (min-width:411px) {
  html{
    font-size: 411/3.75px/4;
  }
}
@media screen and (min-width:414px) {
  html{
    font-size: 414/3.75px/4;
  }
}
@media screen and (min-width:768px){
  html{
    font-size: 768/3.75px/4;
  }
}

@rem: 25 * 2rem;

@bg_color: #fff;
@bg_color1: #fff;
@c3: #333;
@c6: #666;
@c9: #999;
@red: #E55152;
.f12{
  font-size: 12/@rem;
}
.f14 {
  font-size: 14/@rem;
}
body {
  color: @c3;
  background: @bg_color;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.hidden{
  display: none;
}


